.DS_Store
/dist
node_modules
app/components
karma.conf.js
karma-e2e.conf.js

app/.htaccess
.idea/
.tmp/
*.iml
.projectile
app/js/config.js
app/js/app.js
app/js/local.js
app/css/styles.css
app/*.json
app/docs/
