<div class="col-md-12">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">What's New</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading dss-products">
                DSS Product Family
                <ul rn-carousel class="">
                    <li>slide #1</li>
                    <li>slide #2</li>
                    <li>slide #3</li>
                </ul>
            </div>
            <div class="panel-body">
                <ul rn-carousel class="image">
                    <li ng-repeat="product in vm.data.products">
                        <div class="layer">{{ product.title }}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
