name: "app"
uri:
  base: "/"
  host: "/"
  api: "/api/"

default:
  displayCount: 20
  modalAnimateIn: "fadeInRight"
  modalAnimateOut: "fadeOutRight"

piwik:
  enabled: false
  app: 'appName'
  prod: 'prodName'
  url: ''
  siteId: 0

intro:
  enabled: true

urlHtml5Mode: true
version: "0.0.1"
