name: "app"
uri:
  base: "/"
  host: "/"
  api: "/api/"

default:
  displayCount: 20
  modalAnimateIn: "fadeInRight"
  modalAnimateOut: "fadeOutRight"

piwik:
  app: 'appName'
  url: 'https://opspiwik.corp.ebay.com/piwik/'
  siteId: 0

version: "0.0.1"
