<div style="margin: 5px" ng-if="allNum > 0">
    <div>
        <div class="pull-right">
            <span style="vertical-align:middle;color: grey;font-size: 15px"><strong>{{data.length}} of {{ allNum }}</strong></span>
            <button ng-if="has_more()" class="btn action-btn details-btn" style="float: none" ng-click="show_more()" ng-disabled="!loaded">
                <i class="icon-plus icon-white"></i>More
            </button>
        </div>
        <div class="clearfix" style="margin: 5px"></div>
        <div class="pull-right">
            {{ loaded ? '' : 'Loading...' }}
        </div>
    </div>
</div>